* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f7fa;
    color: #333;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* Estilizando o cabeçalho */
header {
    text-align: center;
    width: 100%;
    padding: 15px;
    background-color: #8e44ad;
    color: #fff;
    font-size: 2em;
    font-weight: 600;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilizando o menu de navegação */
nav {
    position: fixed;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #34495e;
    color: #fff;
    overflow-x: hidden;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1;
}

/* Estilizando os links do menu */
nav ul {
    list-style-type: none;
    padding: 20px;
}

nav li {
    margin-bottom: 15px;
}

nav a {
    padding: 15px 20px;
    color: #fff;
    display: block;
    text-decoration: none;
    border-radius: 8px;
    background-color: #2ecc71;
    transition: background-color 0.3s, transform 0.3s;
}

nav a:hover {
    background-color: #27ae60;
    transform: translateX(5px);
}

/* Estilizando o botão do menu */
.menu-button {
    background-color: #e74c3c;
    color: #fff;
    position: fixed;
    top: 15px;
    left: 15px;
    border: none;
    cursor: pointer;
    font-size: 2em;
    border-radius: 50%;
    z-index: 3;
    user-select: none;
    outline: none;
    padding: 15px;
    transition: background-color 0.3s, transform 0.3s;
}

.menu-button:hover {
    background-color: #c0392b;
    transform: scale(1.1);
}

/* Estilizando o conteúdo */
.content {
    padding: 20px;
    margin-top: 80px;
    margin-left: 270px;
    margin-bottom: 60px;
    transition: margin-left 0.3s ease;
}

/* Estilizando o rodapé */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #8e44ad;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 1em;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
}

/* Media query para telas menores */
@media (max-width: 768px) {
    nav {
        width: 80%;
    }
    .content {
        margin-left: 0;
    }
}

/* Animação de entrada do menu */
.menu-open nav {
    transform: translateX(0);
}
